.filters {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
  position: relative;
  right: 50%;
  left: 50%;
}

.search-button {
  background-color: #ff5a5f;
  top: 10px;
  font-size: 18px;
  color: #ffffff;
  height: 48px;
  width: 20%;
  position: absolute;
  right: 30px;
  border: none;
  border-radius: 4px;
}

.search-button:hover {
  opacity: 0.9;
}


.locations {
  padding: 0 0 0 50px;
  display: inline-block;
  margin: 0 80px 0 0;

}

.amenities {
  position: absolute;
  display: inline-block;
  margin: 0 0 0 50px;
}

.locations h4,
.amenities h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: -18px;
}

.vertical-line {
  display: inline;
  border-left: 1px solid #DDDDDD ;
  position: absolute;
  top: 0;
  bottom: 0;
}

.popover{
  background-color: #e2e0e03a;
  display: none;
  position: absolute;
  width: 215px;
  left: 0px;
  margin-top: 2px;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
}

.amenities .popover{
  margin-left: -50px;
}
.locations:hover .popover,
.amenities:hover .popover{
  display: block;
}

li {
  list-style-type: none;
  font-size: 14px;
  margin: 8px;
  padding-left: 10px;
  line-height: 15px;

}

.popover h2{
  font-size: 16px;
  line-height: 10px;
}

.locations li {
  padding-bottom: 0px;
  margin-top: 5px;
  margin-left: -10px;
  line-height: 15px;
}