.places {
  text-align: center;
}

.places h1 {
  padding-left: 120px;
  font-size: 30px;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: #FF5A5F 1px solid;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  right: 50%;
  left: 50%;
  top: -25px;
  height: inherit;
  min-height: 400px;
  vertical-align: top;
}

.places article h2 {
  font-size: 30px;
}

article h2 {
	font-size: 30px;
	padding: 0px;
	margin: auto;
}

.price_by_night {
  color: #FF5A5F;
  border: #FF5A5F solid 4px;
  border-radius: 100%;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: right;
  overflow: hidden;
  margin-top: -35px;

}

.price_by_night h4 {
  font-size: 30px;
}

.information {
  height: 80px;
  border-top:  #DDDDDD 1px solid;
  border-bottom: #DDDDDD 1px solid;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.max_guest {
  background-image: url(../images/icon_group.png);
  background-repeat: no-repeat;
  background-position: center;
}

.number_bathrooms {
  background-image: url(../images/icon_bath.png);
  background-repeat: no-repeat;
  background-position: center;
}

.number_rooms {
  background-image: url(../images/icon_bed.png);
  background-repeat: no-repeat;
  background-position: center;
}

.max_guest,
.number_bathrooms,
.number_rooms {

  /* width: calc(100% / 3); */
  display: inline-block;
  width: 100px;
  margin-top: -20px;
}

.max_guest h4,
.number_bathrooms h4,
.number_rooms h4 {
  margin-top: 80px;
}

.user {
  display: inline-block;
  position: relative;
  right: 125px;
  top: 20px;
}

.description {
  margin-top: 30px; 
  line-height: 1.5;
  text-align: left;
}